p.order_title
| Order number: #{@order.title}
p.order_price
| Order price: #{@order.order_price}
p.days_amount
| Days amount: #{@order.days_amount}
p.start_date
| Start date: #{@order.start_date}
p.end_date
| End date: #{@order.end_date}