.row
.well.col-md-8.col-md-offset-2
p.order_title
| Order number: #{@order.title}
p.order_price
| Order price: #{@order.order_price}
p.days_amount
| Days amount: #{@order.days_amount}
p.time_period
| Dates: #{@order.time_period}