<% if @service_plans.any? %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>


<h1>Listing Service's Plans</h1>
<div class="container">
  <div class="row">
  <% @service_plans.each do |service| %>
    <div class="col-md-4">
      <h2><%= service.title %></h2>
      <p><%= service.description %> </p>
      <p><%= link_to("Show", {:action => 'show', :id => service.id}, :class => 'btn btn-default') %></a></p>
    </div>
  <% end %>
  </div>
</div>
<% else %>
    <p>No services.</p>
<% end %>